@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1 {
    font-family: 'Righteous';
    color: #FFFFFF; 
    font-size: 44px;
    font-weight: 400;
    width: 248px;
    height: 44px;
    margin-left:21px;
    margin-top: 8px;
}
.subtitulo-topo {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 18px;
    width: 226px;
    height: 17px;
    margin-left:21px;
    margin-top: 5px;
    
}
h2 {
    font-family: 'Righteous';
    color: #333333; 
    font-size: 26px;
    font-weight: 400;
    margin-left:19px;
    margin-top: 27px;
}
h3 { 
    font-family: 'Roboto';
    font-weight: 700;
    font-style: bold;
    color: #333333;
    font-size: 16px;
    margin-top: 8px;
    width:139px;
    height: 23px;
}
.descricao {
    font-family: 'Roboto';
    font-weight: 300;
    
    color: #a6a6a6;
    font-size: 15px;
    margin-top: 4px;
    width: 147px;
    height: 18px;
}
.preco {
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    width: 66px;
    margin-top: 9px;
}
h4 {
    font-family: 'Roboto';
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
}
body {
    width: 414px;
}
.caixa-mae {
    width: 414px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 108px;
}
.caixa-topo {
    width: 414px;
    height: 92px;
    background-color: #cf2b2b;
    box-sizing: border-box;
    position:fixed;
    top: 0;
    left:0;    
}
.caixa-centro {
    width: 414px;
    background-color: #E5E5E5;    
}
.caixa-fundo {
    width: 414px;
    height: 92px;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.botao-finalizar {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #cbcbcb;
    display:flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    position: fixed;
}
.caixinha-um {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-dois {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-tres {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-quatro {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-cinco {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-seis {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-sete {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-oito {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.caixinha-nove {
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-radius: 9px;
}
.conjunto-centro {
    background-color: #e5e5e5;    
    display:flex;
    margin-left: 19px;
    margin-top: 17px;    
    overflow: auto;   
}
.caixinha-um img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-dois img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-tres img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-quatro img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-cinco img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-seis img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-sete img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-oito img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.caixinha-nove img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.conjunto-centro .caixinha-um:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-dois:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-tres:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-quatro:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-cinco:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-seis:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-sete:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-oito:nth-child(-n+2) {
    margin-right: 16px;
}
.conjunto-centro .caixinha-nove:nth-child(-n+2) {
    margin-right: 16px;
}
.caixinha-um:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-dois:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-tres:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-quatro:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-cinco:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-seis:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-sete:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-oito:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.caixinha-nove:hover {
    
    border: 5px solid green;
    cursor: pointer;
    
}
.selecionada {
    
    border: 5px solid green;
}
.segundaselecionada {
    
    border: 5px solid green;
}
.terceiraselecionada {
    
    border: 5px solid green;
}